{% load i18n %}
{% load static %}
<div class="col-lg-12">
    <div class="modal-header">
        <h5 class="modal-title" id="scrollmodalLabel">{% trans 'Details' %}:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="order_box">
        <h2>{% trans 'Order' %} # {{ order.number }}</h2>
        <ul class="list">
            <li>
                <a href="#">{% trans 'Product' %}<span>{% trans 'Total' %}</span>
                </a>
            </li>
            {% for line in order.get_lines %}
                <li>
                    <a href="#">{{ line.product.name }}
                        <span class="middle">x {{ line.quantity }}</span>
                        <span class="last">{{ line.total }}{% trans 'DZD' %}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list list_2">
            <li>
                <a href="#">{% trans 'Subtotal' %} <span>{{ order.sub_total }} {% trans 'DZD' %}</span></a>
            </li>
            <li>
                <a href="#">{% trans 'Shipping' %} {% if order.free_delivery %}({% trans 'free' %}) {% endif %}
                    <span>{{ order.shipping_fee }}</span></a>
            </li>
            <li>
                <a href="#">{% trans 'Total' %}<span>{{ order.total_sum }} {% trans 'DZD' %}</span></a>
            </li>
        </ul>
        {% trans "Not Provided" as not_provided %}
        <p>{% trans "Address:" %} {{ order.profile.address|default:not_provided }}, {{ order.profile.city|default:not_provided }}.</p>
        {% if user.user_type in "SA" or not "sales" in request.path %}
            <a class="btn w-100"
               href="{% url 'ecommerce:dashboard-sales-update-status' order.pk %}">
                {% if order.status == 'P' %}
                    {% trans 'Confirm' %}
                {% elif order.status == 'CO' %}
                    {% trans 'On Delivery' %}
                {% elif order.status == 'OD' %}
                    {% trans 'Delivered' %}
                {% elif order.status == 'CA' %}
                    {% trans 'Canceled' %}
                {% elif order.status == 'D' %}
                    {% trans 'Delivered' %}
                {% else %}
                    {% trans 'Confirm' %}
                {% endif %}
            </a>
        {% endif %}
    </div>
</div>