<!DOCTYPE html>
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="decoration home accessories dz algeria">

    <!-- Title Page-->
    <title>{% trans "Dashboard" %}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'dashboard/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet"
          media="all">
    <link href="{% static 'dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'dashboard/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'dashboard/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}"
          rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'dashboard/css/theme.css' %}" rel="stylesheet" media="all">

    <!-- Jquery JS-->
    <script src={% static "dashboard/vendor/jquery-3.2.1.min.js" %}></script>

    {% block styles %}

    {% endblock styles %}

</head>
<body class="animsition">
<div class="page-wrapper">
    {#TODO update the headerr of mobile too#}
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a href="{% url 'ecommerce:index' %}">
                        <img src="{% static 'img/logo/logo.png' %}" alt="Samy Deco"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    {% if user.user_type == 'A' %}
                        <li {% if "main" in request.path %} class="active" {% endif %} >
                            <a class="js-arrow" href="{% url 'ecommerce:dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>{% trans "Dashboard" %}</a>
                        </li>
                    {% endif %}
                    <li {% if "products" in request.path %} class="active" {% endif %} >
                        <a href="{% url 'ecommerce:dashboard-products' %}">
                            <i class="fas fa-barcode"></i>{% trans "Products" %}</a>
                    </li>
                    <li {% if "users" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'accounts:users-list' %}">
                            <i class="fas fa-users"></i>{% trans "Users" %}</a>
                    </li>
                    <li {% if "orders/history" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'ecommerce:orders-history' %}">
                            <i class="far fa-credit-card"></i>{% trans "Orders" %}</a>
                    </li>
                    <li {% if "sales" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'ecommerce:dashboard-sales' %}">
                            <i class="far fa-credit-card"></i>{% trans "Sales" %}</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#"><i class="fas fa-truck"></i>{% trans 'Delivery' %}</a>
                        <ul class="navbar__sub-list list-unstyled js-sub-list">
                            <li {% if "companies" in request.path %} class="active" {% endif %}>
                                <a href="{% url "ecommerce:delivery-companies-list" %}"><i
                                        class="fas fa-building"></i>{% trans 'Companies' %}</a>
                            </li>
                            <li {% if "agents" in request.path %} class="active" {% endif %}>
                                <a href="{% url "ecommerce:delivery-agents-list" %}"><i
                                        class="fas fa-male"></i>{% trans 'Delivery Guys' %}</a>
                            </li>
                        </ul>
                    </li>

                    {% if user.user_type == 'A' %}
                        <li {% if "change-history" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:orders-change-history' %}">
                                <i class="fas fa-history"></i>{% trans "History" %}</a>
                        </li>
                        <li {% if "index-content" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:dashboard-update-index-content' 1 %}">
                                <i class="fas fa-edit"></i>{% trans "Home Page" %}</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#"><i class="fas fa-map-marker-alt"></i>{% trans 'Places' %}</a>
                            <ul class="navbar__sub-list list-unstyled js-sub-list">
                                <li {% if "states" in request.path %} class="active" {% endif %}>
                                    <a href="{% url "accounts:dashboard-states" %}"><i
                                            class="fas fa-map-signs"></i>{% trans 'States' %}</a>
                                </li>
                                <li {% if "cities" in request.path %} class="active" {% endif %}>
                                    <a href="{% url "accounts:dashboard-cities" %}"><i
                                            class="fas fa-location-arrow"></i>{% trans 'Cities' %}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div>
            <a href="{% url 'ecommerce:index' %}">
                <img src="{% static 'img/logo/logo.png' %}" alt="Samy Deco" class="mt-20 pt-20 ml-20"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    {% if user.user_type == 'A' %}
                        <li {% if "main" in request.path %} class="active" {% endif %} >
                            <a class="js-arrow" href="{% url 'ecommerce:dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>{% trans "Dashboard" %}</a>
                        </li>
                    {% endif %}
                    <li {% if "products" in request.path %} class="active" {% endif %} >
                        <a href="{% url 'ecommerce:dashboard-products' %}">
                            <i class="fas fa-barcode"></i>{% trans "Products" %}</a>
                    </li>
                    <li {% if "users" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'accounts:users-list' %}">
                            <i class="fas fa-users"></i>{% trans "Users" %}</a>
                    </li>
                    <li {% if "orders/history" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'ecommerce:orders-history' %}">
                            <i class="far fa-credit-card"></i>{% trans "Orders" %}</a>
                    </li>
                    <li {% if "sales" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'ecommerce:dashboard-sales' %}">
                            <i class="far fa-credit-card"></i>{% trans "Sales" %}</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#"><i class="fas fa-truck"></i>{% trans 'Delivery' %}</a>
                        <ul class="navbar__sub-list list-unstyled js-sub-list">
                            <li {% if "companies" in request.path %} class="active" {% endif %}>
                                <a href="{% url "ecommerce:delivery-companies-list" %}"><i
                                        class="fas fa-building"></i>{% trans 'Companies' %}</a>
                            </li>
                            <li {% if "agents" in request.path %} class="active" {% endif %}>
                                <a href="{% url "ecommerce:delivery-agents-list" %}"><i
                                        class="fas fa-male"></i>{% trans 'Delivery Guys' %}</a>
                            </li>
                        </ul>
                    </li>
                    {% if user.user_type == 'A' %}
                        <li {% if "change-history" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:orders-change-history' %}">
                                <i class="fas fa-history"></i>{% trans "History" %}</a>
                        </li>
                        <li {% if "index-content" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:dashboard-update-index-content' 1 %}">
                                <i class="fas fa-edit"></i>{% trans "Home Page" %}</a>
                        </li>
                        <li {% if "quick" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:dashboard-quick-links-create' %}">
                                <i class="fas fa-edit"></i>{% trans "Quick Links" %}</a>
                        </li>
                        <li {% if "partner" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:dashboard-partners-create' %}">
                                <i class="fas fa-edit"></i>{% trans "Partners" %}</a>
                        </li>
                        <li {% if "settings" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:dashboard-update-settings' 1 %}">
                                <i class="fas fa-edit"></i>{% trans "Settings" %}</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#"><i class="fas fa-map-marker-alt"></i>{% trans 'Places' %}</a>
                            <ul class="navbar__sub-list list-unstyled js-sub-list">
                                <li {% if "states" in request.path %} class="active" {% endif %}>
                                    <a href="{% url "accounts:dashboard-states" %}"><i
                                            class="fas fa-map-signs"></i>{% trans 'States' %}</a>
                                </li>
                                <li {% if "cities" in request.path %} class="active" {% endif %}>
                                    <a href="{% url "accounts:dashboard-cities" %}"><i
                                            class="fas fa-location-arrow"></i>{% trans 'Cities' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li {% if "complaints" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'ecommerce:clients-complaints-list' %}">
                                <i class="fas fa-edit"></i>{% trans "Complaints" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            {% comment %}<input class="au-input au-input--xl" type="text" name="search"
                                   placeholder="{% trans "Search" %}"/>
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>{% endcomment %}
                        </form>
                        <div class="header-button">
                            {% comment %}<div class="noti-wrap">
                                 <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>{% endcomment %}
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="{% static 'img/icon/avatar.jpg' %}" alt="profile image"/>
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{ user.first_name }}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{% static 'img/icon/avatar.jpg' %}"
                                                         alt="John Doe"/>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{ user.full_name }}</a>
                                                </h5>
                                                <span class="email">{{ user.email }}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="{% url 'accounts:profile-details' user.id %}">
                                                    <i class="zmdi zmdi-account"></i>{% trans "Account" %}</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="{% url 'accounts:logout' %}">
                                                <i class="zmdi zmdi-power"></i>{% trans "Logout" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="ml-5" id="form-lang" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ redirect_to }}">
                                <div class="custom-select2 fas">
                                    <select name="language" id="language" class="select-bf">
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"
                                                    {% if language.code == LANGUAGE_CODE %}
                                                    selected {% endif %}>
                                                {{ language.name_local|title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->

        {% block modals %}
        {% endblock modals %}
        <!-- END PAGE CONTAINER-->

    </div>
</div>


<!-- Bootstrap JS-->
<script src={% static "dashboard/vendor/bootstrap-4.1/popper.min.js" %}></script>
<script src={% static "dashboard/vendor/bootstrap-4.1/bootstrap.min.js" %}></script>
<!-- Vendor JS       -->
<script src={% static "dashboard/vendor/slick/slick.min.js" %}></script>
<script src={% static "dashboard/vendor/wow/wow.min.js" %}></script>
<script src={% static "dashboard/vendor/animsition/animsition.min.js" %}></script>
<script src={% static "dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}></script>
<script src={% static "dashboard/vendor/counter-up/jquery.waypoints.min.js" %}></script>
<script src={% static "dashboard/vendor/counter-up/jquery.counterup.min.js" %}></script>
<script src={% static "dashboard/vendor/circle-progress/circle-progress.min.js" %}></script>
<script src={% static "dashboard/vendor/perfect-scrollbar/perfect-scrollbar.js" %}></script>
<script src={% static "dashboard/vendor/chartjs/Chart.bundle.min.js" %}></script>
<script src={% static "dashboard/vendor/select2/select2.min.js" %}></script>

<!-- Main JS-->
<script src={% static "dashboard/js/main.js" %}></script>
<script type="text/javascript">
    $('#language').on('change', function () {
        $('#form-lang').submit();
    })
</script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>