{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}


{% block content %}
    <h3 class="title-5 m-b-35">{% trans "Coupons" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            {% if request.user.user_type == 'A' %}
                <button id="create-sub-category" type="button" name="button"
                        class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="createCouponForm()">
                    <i class="zmdi zmdi-plus"></i>{% trans "sub-category" %}
                </button>
            {% endif %}
        </div>
        <div class="table-data__tool-right">

        </div>
    </div>
    <div class=" table-data__tool">
        <form method="GET" action="{% url 'ecommerce:dashboard-sales' %}" class="form-inline">
        </form>
    </div>
    <div id="sales-table" class="table-responsive table--no-card m-b-40">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>{% trans "Selected" %}</th>
                <th>{% trans "code" %}</th>
                <th>{% trans "discount %" %}</th>
                <th>{% trans "discount $" %}</th>
                <th>{% trans "expiry date" %}</th>
                <th>{% trans "expired" %}</th>
                <th>{% trans "usages" %}</th>
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for coupon in coupons %}
                <tr class="tr-shadow">
                    <td>
                        <div class="switch-wrap d-flex justify-content-between">
                            <div class="confirm-checkbox">
                                <input name="selected-orders" type="checkbox" id="checkbox{{ coupon.id }}"
                                       value="{{ coupon.id }}">
                                <label for="checkbox{{ coupon.id }}"></label>
                            </div>
                        </div>
                    </td>
                    <td>{{ coupon.code }}</td>
                    <td>{{ coupon.discount_percent|default:"_" }}</td>
                    <td>{{ coupon.raw_value|default:"_" }}</td>
                    <td>{{ coupon.expiry_date }}</td>
                    <td>{{ coupon.is_expired }}</td>
                    <td>{{ coupon.usages }}</td>
                    <td>
                        <div class="table-data-feature">
                            <button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal" data-id="{{ sale.id }}">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination_layout.html" with page_obj=page_obj %}
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}


{% block modals %}

    <!-- delete user modal -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete Coupon ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>

                    <button id="delete-sale-button" type="button" class="btn btn-delete">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end delete user modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="create-coupon-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/order.js' %}"></script>
    <script type="text/javascript">
        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("delete-sale-button").onclick = function () {
                    deleteUser(`/orders/${id}/delete/`, '#sales-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        function createCouponForm() {
            $.ajax({
                method: "GET",
                url: "{% url 'ecommerce:dashboard-coupons-create' %}",
                success: (data) => {
                    $(".modal-content").html(data)
                    $("#create-coupon-modal").modal()
                }
            })
        }

    </script>
{% endblock scripts %}