{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<form action="

        {% if view.object %}{% url "ecommerce:delivery-companies-update" view.object.pk %}{% else %}{% url "ecommerce:delivery-companies-create" %}{% endif %}"
      method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="scrollmodalLabel">{% trans 'Create New Company' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="modal-body input-box">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="single-input-fields form-group {% if field.errors %} invalid {% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% with WIDGET_ERROR_CLASS='is-invalid' %}
                    {% render_field field class="form-control browser-default" %}
                {% endwith %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback help-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <table class="table">
        {{ fees_form.management_form }}

        {% for form in fees_form.forms %}
            {% if forloop.first %}
                <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tr class="formset_row">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% with WIDGET_ERROR_CLASS='is-invalid' %}
                            {% render_field field class="form-control browser-default" %}
                        {% endwith %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback help-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" class="submit-btn btn btn-primary">{% trans 'Create' %}</button>
    </div>
</form>

<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add',
        deleteText: 'remove',
        prefix: 'fees'
    });
</script>