{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">{% trans "Overview" %}</h2>
            </div>
        </div>
    </div>
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>{{ total_users }}</h2>
                            <span>{% trans "Total Users" %}</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        {#                        <canvas id="widgetChart1"></canvas>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="text">
                            <h2>{{ items_sold }}</h2>
                            <span>{% trans 'Items Sold' %}</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        {#                        <canvas id="widgetChart2"></canvas>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                        <div class="text">
                            <h2>{{ items_sold_week }}</h2>
                            <span>{% trans 'This Week' %}</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        {#                        <canvas id="widgetChart3"></canvas>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                        <div class="text">
                            <h2>{{ earnings }}</h2>
                            <span>{% trans 'Total Earnings' %}</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        {#                        <canvas id="widgetChart4"></canvas>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <h2 class="title-1 m-b-25">{% trans "Earnings By Items" %}</h2>
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'orders' %}</th>
                        <th class="text-center">{% trans 'quantity' %}</th>
                        <th class="text-center">{% trans 'price' %}</th>
                        <th class="text-center">{% trans 'available' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.order_count }}</td>
                            <td class="text-center">{{ item.quantities }}</td>
                            <td class="text-center">{{ item.price }}</td>
                            <td class="text-center">{{ item.stock }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{% trans 'No Stats' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <h2 class="title-1 m-b-25">{% trans "Top states" %}</h2>
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <tbody>
                            {% for state in states %}
                                <tr>
                                    <td>{{ state.state_name }}</td>
                                    <td class="text-right">{{ state.s_count }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>{% trans 'No Stats' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h2 class="title-1 m-b-25">{% trans "Top Callers" %}</h2>
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <tbody>
                            {% for caller in callers %}
                                <tr>
                                    <td>{{ caller.full_name }}</td>
                                    <td class="text-right">{{ caller.orders_count }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>{% trans 'No Stats' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <h2 class="title-1 m-b-25">{% trans "Top Delivery Guys" %}</h2>
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <tbody>
                            {% for guy in delivery_guys %}
                                <tr>
                                    <td>{{ guy.name }}</td>
                                    <td class="text-right">{{ guy.orders_count }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>{% trans 'No Stats' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
{% endblock content %}

