{% load i18n %}
{% load static %}

<div id="companies-table-div" class="table-responsive table--no-card m-b-40">
    <table class="table table-data2" id="companies-table">
        <thead>
        <tr>
            <th>{% trans "produit" %}</th>
            <th>{% trans "quantity" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tuple in products.items %}
            <tr class="tr-shadow">
                <td>{{ tuple.0 }}</td>
                <td>{{ tuple.1 }}</td>
            </tr>
            <tr class="spacer"></tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Caisse livreur: {{ money }} DZD</h4>
</div>

