{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}

{% block content %}
    <h3 class="title-5 m-b-35">{% trans "Orders" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <label for="status-select"></label>
                <select id="status-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Status" %}</option>
                    <option value="P">{% trans 'Pending' %}</option>
                    <option value="RC">{% trans 'Recall' %}</option>
                    <option value="NA">{% trans 'No Answer' %}</option>
                    <option value="CA">{% trans 'Canceled' %}</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>

            <div class="rs-select2--light rs-select2--md">
                <label for="state-select"></label>
                <select id="state-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "States" %}</option>
                    {% for state in states %}
                        <option value="{{ state.id }}">{{ state }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>

            <div class="rs-select2--light rs-select2--md">
                <label for="city-select"></label>
                <select id="city-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Cities" %}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            <div class="rs-select2--light rs-select2--md">
                <label for="assign-to-select"></label>
                <select id="assign-to-select" class="js-select2" name="callers">
                    <option value="" selected="selected">{% trans "Call Agent" %}</option>
                    {% for caller in callers %}
                        <option value="{{ caller.id }}">{{ caller }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
            <button type="button" onclick="assignTo()"
                    class="au-btn au-btn-icon au-btn--green au-btn--small">{% trans 'Assign to' %}</button>
            {% if  user.user_type == 'A' %}
                {% url 'ecommerce:orders-history-export' as url %}
                {% include "dashboard/exportation_layout.html" with exportation_url=url %}
            {% endif %}
        </div>
    </div>
    <div id="orders-table" class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>{% trans "Selected" %}</th>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Client" %}</th>
                <th>{% trans "phone" %}</th>
                <th>{% trans "Items Count" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "date" %}</th>
                <th>{% trans "assigned to" %}</th>
                <th class="text-center">{% trans "status" %}</th>
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class="tr-shadow {% if not order.visible or order.status == 'CA' %} deleted {% endif %}">
                    <td>
                        {% if not order.status == 'CA' %}
                            <div class="switch-wrap d-flex justify-content-between">
                                <div class="confirm-checkbox">
                                    <input name="selected-orders" type="checkbox" id="checkbox{{ order.id }}"
                                           value="{{ order.id }}">
                                    <label for="checkbox{{ order.id }}"></label>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ order.number }}</td>
                    <td>{{ order.profile.user.full_name }}</td>
                    <td><span
                            class="{% if order.profile.user.confirmed_phone %} status--process {% else %} status--denied {% endif %}">
                        {{ order.profile.user.phones.first|default:'+213799136332' }}</span>
                    </td>
                    <td>{{ order.products_count }}</td>
                    <td>{{ order.total_sum }} {% trans 'DZD' %}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.assigned_to|default:"" }}</td>
                    <td class="text-center">
                        <span class="{% if order.status == 'CA' %} status--denied {% else %} status--process {% endif %}">{{ order.get_status_display }}</span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <button onclick="showOrderDetails('{% url 'ecommerce:orders-order-details' order.pk %}')"
                                    class="item" data-toggle="tooltip" data-placement="top" title="Info">
                                <i class="fa fa-info"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"
                                   onclick="updateOrder({{ order.pk }})"></i>
                            </button>
                            {% comment %}                            <button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal" data-id="{{ order.id }}">
                                <i class="zmdi zmdi-delete"></i>
                            </button>{% endcomment %}
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination_layout.html" with page_obj=page_obj %}
    </div>

{% endblock content %}

{% block modals %}
    {# order details modal #}
    <div class="modal fade" tabindex="-1" role="dialog" id="order-details-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5"></div>
        </div>
    </div>

    {# change order status modal #}
    <div class="modal fade" tabindex="-1" role="dialog" id="change-order-status-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5">

            </div>
        </div>
    </div>

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/order.js' %}"></script>
    <script type="text/javascript">

        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("delete-order-button").onclick = function () {
                    deleteUser(`/orders/${id}/delete/`, '#orders-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        loadByStatus({
            selectId: "#status-select",
            url: "{% url 'ecommerce:orders-history' %}",
            dataTableId: "#orders-table"
        })

        loadByState({
            selectId: "#state-select",
            url: "{% url 'ecommerce:orders-history' %}",
            dataTableId: "#orders-table"
        })

        loadByCity({
            selectId: "#city-select",
            url: "{% url 'ecommerce:orders-history' %}",
            dataTableId: "#orders-table"
        })

        function updateOrder(id) {
            $.ajax({
                type: 'GET',
                url: `/orders/${id}/update/`,
                dataType: 'json',
                success: (response) => {
                    const modal = $("#change-order-status-modal")
                    modal.find(".modal-content").html(response)
                    modal.modal()
                },
                error: (jqXHR, textStatus, errorThrown) => console.log(errorThrown)
            })
        }

        function assignTo() {
            const ids = []
            const agentsSelect = $("#assign-to-select")
            $("input:checkbox[name=selected-orders]:checked").each(function () {
                ids.push($(this).val())
            })
            if (ids.length === 0) {
                alert("Select an Order")
                return
            }
            if (agentsSelect.val() == "") {
                alert("Select a delivery guy")
                return
            }
            const data = {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "caller": agentsSelect.val(),
                "orders": ids
            }
            $.ajax({
                type: "POST",
                url: "{% url "ecommerce:orders-assignment-caller" %}",
                data: data,
                success: (data) => {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'ecommerce:orders-history' %}",
                        success: (response) => {
                            $("#orders-table").html(response["orders"])
                            print(response["orders"])
                        }
                    })
                }
            })
        }

    </script>

{% endblock scripts %}