{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}

{% block content %}
    <h3 class="title-5 m-b-35">{% trans "Orders" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select id="status-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Status" %}</option>
                    <option value="P">{% trans 'Pending' %}</option>
                    <option value="CA">{% trans 'Canceled' %}</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            {% if  user.user_type == 'A' %}
                {% url 'ecommerce:orders-history-export' as url %}
                {% include "dashboard/exportation_layout.html" with exportation_url=url %}
            {% endif %}
        </div>
    </div>
    <div id="orders-table" class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Client" %}</th>
                <th>{% trans "phone" %}</th>
                <th>{% trans "Items Count" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "date" %}</th>
                <th class="text-center">{% trans "status" %}</th>
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class="tr-shadow {% if not order.visible or order.status == 'CA' %} deleted {% endif %}">
                    <td>{{ order.number }}</td>
                    <td>{{ order.profile.user.full_name }}</td>
                    <td><span
                            class="{% if order.profile.user.confirmed_phone %} status--process {% else %} status--denied {% endif %}">
                        {{ order.profile.user.phones.first|default:'+213799136332' }}</span>
                    </td>
                    <td>{{ order.products_count }}</td>
                    <td>{{ order.total_sum }} {% trans 'DZD' %}</td>
                    <td>{{ order.created_at }}</td>
                    <td class="text-center">
                        <span class="{% if order.status == 'CA' %} status--denied {% else %} status--process {% endif %}">{{ order.get_status_display }}</span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <button onclick="showOrderDetails('{% url 'ecommerce:orders-order-details' order.pk %}')"
                                    class="item" data-toggle="tooltip" data-placement="top" title="Info">
                                <i class="fa fa-info"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal" data-id="{{ order.id }}">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination_layout.html" with page_obj=page_obj %}
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}

{% block modals %}
    <div class="modal fade" tabindex="-1" role="dialog" id="order-details-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5"></div>
        </div>
    </div>
{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/order.js' %}"></script>
    <script type="text/javascript">

        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("delete-order-button").onclick = function () {
                    deleteUser(`/orders/${id}/delete/`, '#orders-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        loadByStatus({
            selectId: "#status-select",
            url: "{% url 'ecommerce:orders-history' %}",
            dataTableId: "#orders-table"
        })

    </script>

{% endblock scripts %}