{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35">{% trans "Products" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select class="js-select2" name="category" id="categories">
                    <option value="" selected="selected">{% trans "Categories" %}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
            {% if request.user.user_type == 'A' %}
                <button id="create-category" type="button" name="button"
                        class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="createCategoryForm()">
                    <i class="zmdi zmdi-plus"></i>{% trans "add category" %}
                </button>
            {% endif %}
            <div class="rs-select2--light rs-select2--md">
                <select class="js-select2" name="sub_category" id="sub_categories">
                    <option value="" selected="selected">{% trans "Sub-Categories" %}</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>
            {% if request.user.user_type == 'A' %}
                <button id="create-sub-category" type="button" name="button"
                        class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="createSubCategoryForm()">
                    <i class="zmdi zmdi-plus"></i>{% trans "add sub-category" %}
                </button>
            {% endif %}

        </div>
        <div class="table-data__tool-right">
            <button id="create-product" type="button" name="button"
                    class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>{% trans "add product" %}
            </button>
            {% if request.user.user_type == 'A' %}
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option value="P">PDF</option>
                        <option value="E" selected="selected">EXCEL</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <a id="export" class="au-btn au-btn-icon au-btn--green au-btn--small"
                   href="{% url 'ecommerce:products-list-export' %}">
                    <i class="zmdi" onclick="exportExcel()"></i>{% trans "export" %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2" id="products-table">
            <thead>
            <tr>
                <th>
                    {% trans "thumbnail" %}
                </th>
                <th>{% trans "name" %}</th>
                <th>{% trans "description" %}</th>
                <th>{% trans "price" %}</th>
                <th>{% trans "stock" %}</th>
                <th>{% trans "status" %}</th>
                <th style="text-align:center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="tr-shadow">
                    <td>
                        {% if product.main_image %}
                            <img src="{{ product.main_image.url }}" alt="" width="36px">
                        {% else %}
                            <img src="{% static 'img/icon/product.png' %}" alt="" width="36px">
                        {% endif %}

                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <span class="desc"> {{ product.description }}</span>
                    </td>
                    <td> {{ product.price }} {% trans 'DZD' %}</td>
                    <td>{{ product.stock }}</td>
                    <td>{% if product.visible %} <span class="status--process">{% trans 'Available' %}</span> {% else %}
                        <span class="status--denied">{% trans 'Deleted' %}</span> {% endif %}</td>
                    <td>
                        <div class="table-data-feature row m-0">
                            {% if product.visible %}
                                <div class="col-3 pl-1">
                                    <button data-id="{% url 'ecommerce:products-product-update' product.id %}"
                                            id="update-product{{ product.id }}" class="item" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="item" data-toggle="modal" data-placement="top"
                                            title="Delete" data-target="#deletemodal" data-id="{{ product.id }}">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; {% trans 'first' %}</a>
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}

{% block modals %}
    <!-- modal small -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete Product ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>

                    <button id="deleteProductLink" type="button" class="btn btn-delete">{% trans 'Delete' %}</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal small -->

    {# create product modal#}
    <div class="modal fade" tabindex="-1" role="dialog" id="create-product-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/decorationjs/product.js' %}"></script>
    <script src="{% static 'js/decorationjs/category.js' %}"></script>
    {# delete product script #}
    <script type="text/javascript">
        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("deleteProductLink").onclick = function () {
                    deleteProduct(`/products/${id}/delete/`, '#products-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide");
                }

            }
        )

        const asyncSuccessMessage1 =
            "<div " +
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' " +
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>" +
            "{% trans "Success: Product was created." %}" +
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            "<span aria-hidden='true'>&times;</span>" +
            "</button>" +
            "</div>" +
            "<script>" +
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});" +
            "<\/script>"

        function createCategoryForm() {
            $.ajax({
                method: "GET",
                url: "{% url 'ecommerce:categories-create' %}",
                success: (data) => {
                    $(".modal-content").html(data)
                    $("#create-product-modal").modal()
                }
            })
        }

        function exportExcel() {
            $.ajax({
                method: "GET",
                url: "{% url 'ecommerce:products-list-export' %}",
                success: (data) => {
                    console.log("downloaded")
                }
            })
        }

        function createSubCategoryForm() {
            $.ajax({
                method: "GET",
                url: "{% url 'ecommerce:categories-sub-create' %}",
                success: (data) => {
                    $(".modal-content").html(data)
                    $("#create-product-modal").modal()
                }
            })
        }

        function createProductForm() {
            $(function () {
                $("#create-product").modalForm({
                    modalID: "#create-product-modal",
                    formURL: "{% url 'ecommerce:products-product-create' %}",
                    asyncUpdate: true,
                    asyncSettings: {
                        successMessage: asyncSuccessMessage1,
                        closeOnSubmit: true,
                        dataUrl: "{% url "ecommerce:dashboard-products" %}",
                        dataElementId: '#products-table',
                        dataKey: "products",
                        addModalFormFunction: createProductForm
                    }
                })
            })
        }

        createProductForm()

        const asyncSuccessMessage2 =
            "<div " +
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' " +
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>" +
            "{% trans "Success: Product was updated." %}" +
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            "<span aria-hidden='true'>&times;</span>" +
            "</button>" +
            "</div>" +
            "<script>" +
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});" +
            "<\/script>"

        {% for product in products %}
            function updateProductForm{{ product.id }}() {
                $(function () {
                    $("#update-product{{ product.id }}").modalForm({
                        modalID: "#create-product-modal",
                        formURL: '{% url 'ecommerce:products-product-update' product.id %}',
                        asyncUpdate: true,
                        asyncSettings: {
                            successMessage: asyncSuccessMessage2,
                            closeOnSubmit: true,
                            dataUrl: "{% url "ecommerce:dashboard-products" %}",
                            dataElementId: '#products-table',
                            dataKey: "products",
                            addModalFormFunction: updateProductForm{{ product.id }}
                        }
                    })
                })
            }

            updateProductForm{{ product.id }}()
        {% endfor %}

        loadCategoriesSelect({
            categories: '{{ categories_json|safe }}',
            parentSelect: "#categories",
            childSelect: "#sub_categories",
            callBack: filterProductByCategoryId,
            url: "{% url 'ecommerce:dashboard-products' %}",
            dataTableId: '#products-table'
        })
        loadSubCategorySelect({
            selectId: "#sub_categories",
            callBack: filterProductByCategoryId,
            url: "{% url 'ecommerce:dashboard-products' %}",
            dataTableId: '#products-table'
        })
    </script>


{% endblock scripts %}