{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35">{% trans "Products" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select class="js-select2" name="property">
                    <option selected="selected">{% trans "Categories" %}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}

                </select>
                <div class="dropDownSelect2"></div>
            </div>
            <div class="rs-select2--light rs-select2--md">
                <select class="js-select2" name="time">
                    <option selected="selected">{% trans "Sub-Categories" %}</option>
                    {% for sub_category in categories.0.sub_categories.all %}
                        <option value="{{ sub_category.id }}">{{ sub_category.name }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>{% trans "add item" %}
            </button>
            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">

                <select class="js-select2" name="type">
                    <option selected="selected">{% trans "Export" %}</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                </select>

                <div class="dropDownSelect2"></div>
            </div>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>
                    {% trans "thumbnail" %}
                </th>
                <th>{% trans "name" %}</th>
                <th>{% trans "description" %}</th>
                <th>{% trans "price" %}</th>
                <th>{% trans "stock" %}</th>
            </tr>
            </thead>
            <tbody>

            <tr class="tr-shadow">
                {% for product in products %}
                    <td>
                        <img src="{% static 'img/icon/product.png' %}" alt="" width="36px">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <span class="desc"> {{ product.description }}</span>
                    </td>
                    <td class="price_value"> {{ product.price }} {% trans 'DZD' %}</td>
                    <td>{{ product.stock }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="table-data-feature">
                            <a href="{% url 'ecommerce:products-product-update' product.id %}">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                            </a>
                            <button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                    </tr>
                    <tr class="spacer"></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}

{% block modals %}
    <!-- modal small -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete Product ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="button" class="btn btn-delete">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal small -->
{% endblock modals %}