{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}


{% block content %}
    <h3 class="title-5 m-b-35">{% trans "Sales" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select id="status-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Status" %}</option>
                    <option value="CO">{% trans 'Confirmed' %}</option>
                    <option value="OD">{% trans 'On Delivery' %}</option>
                    <option value="D">{% trans 'Delivered' %}</option>
                    <option value="R">{% trans 'Returned' %}</option>
                    <option value="RE">{% trans 'Refund' %}</option>
                    <option value="PA">{% trans 'Paid' %}</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>

            <div class="rs-select2--light rs-select2--md">
                <label for="state-select"></label>
                <select id="state-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "States" %}</option>
                    {% for state in states %}
                        <option value="{{ state.id }}">{{ state }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>

            <div class="rs-select2--light rs-select2--md">
                <label for="city-select"></label>
                <select id="city-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Cities" %}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            {% if  user.user_type == 'A' %}
                <div class="rs-select2--light rs-select2--md">
                    <label for="assign-to-select"></label>
                    <select id="assign-to-select" class="js-select2" name="agents">
                        <option value="" selected="selected">{% trans "Delivery Guy" %}</option>
                        {% for guy in agents %}
                            <option value="{{ guy.id }}">{{ guy }}</option>
                        {% endfor %}
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <button type="button" onclick="assignTo()"
                        class="au-btn au-btn-icon au-btn--green au-btn--small">{% trans 'Assign to' %}</button>
                {% url 'ecommerce:dashboard-sales-export' as url %}
                {% include "dashboard/exportation_layout.html" with exportation_url=url %}
                <button id="print-button" onclick="print()"
                        class="au-btn au-btn-icon au-btn--blue au-btn--small">{% trans 'print' %}</button>
            {% endif %}
        </div>
    </div>
    <div class=" table-data__tool">
        <form method="GET" action="{% url 'ecommerce:dashboard-sales' %}" class="form-inline">
            {% for field in form %}
                {% if field.name in 'order user delivery_man caller status' %}
                    <div class="rs-select2--light rs-select2--md px-1 pr-1">
                        {% render_field field class="js-select2 form-control browser-default" %}
                        <div class="dropDownSelect2"></div>
                    </div>
                {% else %}
                    <div class="form-group px-1 pr-1">
                        {% render_field field class="form-control browser-default" %}
                    </div>
                {% endif %}
            {% endfor %}
            <input type="submit" value="{% trans 'Filter' %}" class="au-btn--submit ml-1">
        </form>
    </div>
    <div id="sales-table" class="table-responsive table--no-card m-b-40">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>{% trans "Selected" %}</th>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Client" %}</th>
                <th>{% trans "phone" %}</th>
                <th>{% trans "city" %}</th>
                <th>{% trans "Items Count" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "delivery date" %}</th>
                <th>{% trans "caller" %}</th>
                <th>{% trans "delivery" %}</th>
                <th class="text-center">{% trans "status" %}</th>
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for sale in sales %}
                <tr class="tr-shadow {% if not sale.visible or sale.status == 'CA' %} deleted {% elif sale.status == 'PA' %}  completed {% endif %}">
                    <td>
                        <div class="switch-wrap d-flex justify-content-between">
                            <div class="confirm-checkbox">
                                <input name="selected-orders" type="checkbox" id="checkbox{{ sale.id }}"
                                       value="{{ sale.id }}">
                                <label for="checkbox{{ sale.id }}"></label>
                            </div>
                        </div>
                    </td>
                    <td>{{ sale.number }}</td>
                    <td>{{ sale.profile.user.full_name }}</td>
                    <td><span
                            class="{% if sale.profile.user.confirmed_phone %} status--process {% else %} status--denied {% endif %}">
                        {{ sale.profile.user.phones.first|default:'+213799136332' }}</span>
                    </td>
                    <td>{{ sale.profile.city }}</td>
                    <td>{{ sale.products_count }}</td>
                    <td>{{ sale.total_sum }} {% trans 'DZD' %}</td>
                    <td>{{ sale.delivery_date|default:"_" }}</td>
                    <td>{{ sale.assigned_to|default:"" }}</td>
                    <td>{{ sale.get_delivery_guy|default:"" }}</td>
                    <td class="text-center">
                        <span class="{% if sale.status == 'CA' %} status--denied {% else %} status--process {% endif %}">{{ sale.get_status_display }}</span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <button onclick="showOrderDetails('{% url 'ecommerce:sales-sale-details' sale.pk %}')"
                                    class="item" data-toggle="tooltip" data-placement="top" title="Info">
                                <i class="fa fa-info"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"
                                   onclick="updateOrder({{ sale.pk }})"></i>
                            </button>
                            <a href="{% url 'ecommerce:print_order' sale.pk %}" target="_blank"
                               class="item" data-toggle="tooltip" data-placement="top" title="Print">
                                <i class="fas fa-print"></i>
                            </a>
                            {% comment %}<button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal" data-id="{{ sale.id }}">
                                <i class="zmdi zmdi-delete"></i>
                            </button>{% endcomment %}
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination_layout.html" with page_obj=page_obj %}
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}


{% block modals %}

    <div class="modal fade" tabindex="-1" role="dialog" id="order-details-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="change-order-status-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5">

            </div>
        </div>
    </div>


    <!-- delete user modal -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete Order ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>

                    <button id="delete-sale-button" type="button" class="btn btn-delete">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end delete user modal -->

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/order.js' %}"></script>
    <script type="text/javascript">
        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("delete-sale-button").onclick = function () {
                    deleteUser(`/orders/${id}/delete/`, '#sales-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        loadByStatusSales({
            selectId: "#status-select",
            url: "{% url 'ecommerce:dashboard-sales' %}",
            dataTableId: "#sales-table"
        })

        loadByState({
            selectId: "#state-select",
            url: "{% url 'ecommerce:dashboard-sales' %}",
            dataTableId: "#sales-table",
            responseObjectName: "sales"
        })

        loadByCity({
            selectId: "#city-select",
            url: "{% url 'ecommerce:dashboard-sales' %}",
            dataTableId: "#sales-table",
            responseObjectName: "sales"
        })

        loadByDeliveryGuy({
            selectId: "#assign-to-select",
            url: "{% url 'ecommerce:dashboard-sales' %}",
            dataTableId: "#sales-table",
        })

        function updateOrder(id) {
            $.ajax({
                type: 'GET',
                url: `/orders/${id}/update/`,
                dataType: 'json',
                success: (response) => {
                    const modal = $("#change-order-status-modal")
                    modal.find(".modal-content").html(response)
                    modal.modal()
                },
                error: (jqXHR, textStatus, errorThrown) => console.log(errorThrown)
            })
        }

        function assignTo() {
            const ids = []
            const agentsSelect = $("#assign-to-select")
            $("input:checkbox[name=selected-orders]:checked").each(function () {
                ids.push($(this).val())
            })
            if (ids.length === 0) {
                alert("Select an Order")
                return
            }
            if (agentsSelect.val() == "") {
                alert("Select a delivery guy")
                return
            }
            const data = {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                delivery_guy: agentsSelect.val(),
                orders: ids
            }
            const url = "{% url "ecommerce:orders-assignment-delivery" %}?delivery_guy=" + agentsSelect.val() + "&orders=" + ids
            window.open(url, '_blank')
            $.ajax({
                type: "GET",
                url: "{% url 'ecommerce:dashboard-sales' %}",
                success: (response) => {
                    $("#sales-table").html(response["sales"])
                }
            })
        }

        function print() {
            const ids = []
            const agentsSelect = $("#assign-to-select")
            $("input:checkbox[name=selected-orders]:checked").each(function () {
                ids.push($(this).val())
            })
            const url = "{% url "ecommerce:print_orders" %}?orders=" + ids
            window.open(url, '_blank')
        }

        function updateOrder(id) {
            $.ajax({
                type: 'GET',
                url: `/orders/${id}/update/`,
                dataType: 'json',
                success: (response) => {
                    const modal = $("#change-order-status-modal")
                    modal.find(".modal-content").html(response)
                    modal.modal()
                },
                error: (jqXHR, textStatus, errorThrown) => console.log(errorThrown)
            })
        }

    </script>
{% endblock scripts %}