{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}


{% block content %}
    <h3 class="title-5 m-b-35">{% trans "Sales" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select id="status-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Status" %}</option>
                    <option value="CO">{% trans 'Confirmed' %}</option>
                    <option value="OD">{% trans 'On Delivery' %}</option>
                    <option value="D">{% trans 'Delivered' %}</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            {% if  user.user_type == 'A' %}
                {% url 'ecommerce:dashboard-sales-export' as url %}
                {% include "dashboard/exportation_layout.html" with exportation_url=url %}
            {% endif %}
        </div>
    </div>
    <div id="sales-table" class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
            <tr>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Client" %}</th>
                <th>{% trans "phone" %}</th>
                <th>{% trans "Items Count" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "date" %}</th>
                <th class="text-center">{% trans "status" %}</th>
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>

            {% for sale in sales %}
                <tr class="tr-shadow {% if not sale.visible or sale.status == 'CA' %} deleted {% elif sale.status == 'D' %}  completed {% endif %}">
                    <td>{{ sale.number }}</td>
                    <td>{{ sale.profile.user.full_name }}</td>
                    <td><span
                            class="{% if sale.profile.user.confirmed_phone %} status--process {% else %} status--denied {% endif %}">
                        {{ sale.profile.user.phones.first|default:'+213799136332' }}</span>
                    </td>
                    <td>{{ sale.products_count }}</td>
                    <td>{{ sale.total_sum }} {% trans 'DZD' %}</td>
                    <td>{{ sale.created_at }}</td>
                    <td class="text-center">
                        <span class="{% if sale.status == 'CA' %} status--denied {% else %} status--process {% endif %}">{{ sale.get_status_display }}</span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <button onclick="showOrderDetails('{% url 'ecommerce:sales-sale-details' sale.pk %}')"
                                    class="item" data-toggle="tooltip" data-placement="top" title="Info">
                                <i class="fa fa-info"></i>
                            </button>
                            <button type="button" class="item" data-toggle="modal" data-placement="top"
                                    title="Delete" data-target="#deletemodal" data-id="{{ sale.id }}">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination_layout.html" with page_obj=page_obj %}
    </div>
    <!-- END DATA TABLE -->
{% endblock content %}


{% block modals %}

    <div class="modal fade" tabindex="-1" role="dialog" id="order-details-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content pb-5"></div>
        </div>
    </div>

    <!-- delete user modal -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete Order ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>

                    <button id="delete-sale-button" type="button" class="btn btn-delete">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end delete user modal -->

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/order.js' %}"></script>
    <script type="text/javascript">
        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("delete-sale-button").onclick = function () {
                    deleteUser(`/orders/${id}/delete/`, '#sales-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        loadByStatusSales({
            selectId: "#status-select",
            url: "{% url 'ecommerce:dashboard-sales' %}",
            dataTableId: "#sales-table"
        })

    </script>
{% endblock scripts %}