{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<form action="{% url "ecommerce:orders-order-update" view.kwargs.pk %}" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="scrollmodalLabel">{% trans 'Update Order' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="modal-body input-box">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="single-input-fields form-group {% if field.errors %} invalid {% endif %}">
                {% if field.name == 'free_shipping' %}
                    {% with WIDGET_ERROR_CLASS='is-invalid' %}
                        {% render_field field %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endwith %}
                {% elif not field.name == 'assigned_to' %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% with WIDGET_ERROR_CLASS='is-invalid' %}
                        {% render_field field class="form-control browser-default" %}
                    {% endwith %}
                {% endif %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback help-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <table class="table">
        {{ lines_form.management_form }}

        {% for form in lines_form.forms %}
            {{ form.id }}
            {% if forloop.first %}
                <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr class="form-group formset_row-{{ lines_form.prefix }}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% with WIDGET_ERROR_CLASS='is-invalid' %}
                            {% if field.name == 'product' %}
                                {% render_field field class=" formset-element form-control browser-default" %}
                            {% else %}
                                {% render_field field class="form-control browser-default" %}
                            {% endif %}

                        {% endwith %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback help-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" class="submit-btn btn">{% trans 'Update' %}</button>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $('.formset_row-{{ lines_form.prefix }}').formset({
            addText: '<i class="fas fa-plus" style="color: #0b0b0b"></i> <span style="color: #0b0b0b">{% trans 'Add' %}</span>',
            deleteText: '<i class="fas fa-trash" style="color: #0b0b0b"></i>',
            prefix: '{{ lines_form.prefix }}'
        })

        $('select.formset-element').each((e, obj) => {
            const selectObject = $(obj)
            selectObject.on('change', function (e) {
                const selectName = $(this).attr('name')
                const selectNumber = selectName.split("-")[1]
                const selectSizeName = 'id_lines-' + selectNumber + '-size'
                const selectSizeObject = $('#' + selectSizeName)
                $.ajax({
                    url: '{% url 'ecommerce:get-product-sizes' %}',
                    type: 'GET',
                    data: {'pk': $(this).val()},
                    success: function (data, textStatus, jqXHR) {
                        selectSizeObject.empty()
                        const option = $('<option></option>').attr("value", '').text('----------');
                        selectSizeObject.append(option)
                        data.forEach((element) => {
                            const option = $('<option></option>').attr("value", element['id']).text(element['size']);
                            selectSizeObject.append(option)
                        })
                        console.log(data)
                    },
                    error: function (_, __, ___) {
                        console.log(___)
                    }
                })
            })

        })
    })
</script>