{% extends 'dashboard/base_dashboard.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block content %}
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35">{% trans "Users" %}</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <select id="group-select" class="js-select2" name="group">
                    <option value="" selected="selected">{% trans "Groups" %}</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}

                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div class="table-data__tool-right">
            {% if  user.user_type == 'A' %}
                <button id="create-user" type="button" name="button"
                        class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{% trans "add user" %}
                </button>
                {% url 'accounts:users-list-export' as url %}
                {% include "dashboard/exportation_layout.html" with exportation_url=url %}
            {% endif %}
        </div>
    </div>
    <div id="users-table-div" class="table-responsive table-responsive-data2">
        <table class="table table-data2" id="users-table">
            <thead>
            <tr>
                <th>{% trans "picture" %}</th>
                <th>{% trans "full name" %}</th>
                <th>{% trans "email" %}</th>
                <th>{% trans "phone" %}</th>
                <th>{% trans "date joined" %}</th>
                <th class="text-center">{% trans "role" %}</th>
                <th class="text-center">{% trans "orders count" %}</th>
                {% if user.user_type == 'A' %}
                    <th class="text-center">{% trans "access" %}</th>
                {% endif %}
                <th class="text-center">{% trans "actions" %}</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr class="tr-shadow {% if not user.visible %} deleted {% endif %}">
                    <td>
                        <img src="{{ user.profile.get_photo }}" alt="None" width="36px">
                    </td>
                    <td>{{ user.full_name }}</td>

                    <td>
                        <span class="email {% if user.confirmed_email %} status--process {% else %} status--denied {% endif %}"> {{ user.email }}</span>
                    </td>

                    <td><span
                            class="{% if user.confirmed_phone %} status--process {% else %} status--denied {% endif %}">{{ user.phones.first|default:'+213799136332' }}</span>
                    </td>

                    <td>{{ user.date_joined }}</td>

                    <td><span class="{% if user.user_type == 'C' %}
                        role member
                    {% elif user.user_type == 'A' %}
                        role admin
                    {% elif user.user_type == 'S' %}
                        role user
                    {% endif %}">{{ user.get_user_type_display }}</span></td>

                    <td class="text-center">{{ user.orders_count|default:0 }}</td>

                    {% if request.user.user_type == 'A' %}
                        <td class="text-center">
                            {% if  not user.visible %}
                                <span class="status--denied">{% trans 'Deleted' %}</span>
                            {% else %}
                                {% if  user.is_active %}
                                    <a href="{% url 'accounts:users-deactivate-user' user.pk %}" id="revoke-user"
                                       type="button"
                                       name="button"
                                       class="au-btn au-btn-icon au-btn--red au-btn--small">
                                        {% trans "revoke" %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'accounts:users-activate-user' user.pk %}" id="approve-user"
                                       type="button"
                                       name="button"
                                       class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        {% trans "approve" %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>
                        <div class="table-data-feature">
                            <button type="button" class="item" data-toggle="modal" data-placement="top" title="Info"
                                    onclick="loadUserProfileIntoModal('{% url 'accounts:profile-details' user.profile.pk %}','#details-user-modal')">
                                <i class="fa fa-info"></i>
                            </button>
                            {% if user.visible and request.user.user_type == 'A' %}
                                <button type="button" class="item" data-toggle="modal" data-placement="top"
                                        title="Delete" data-target="#deletemodal" data-id="{{ user.id }}">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- END DATA TABLE -->

{% endblock content %}

{% block modals %}

    <!-- delete user modal -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">{% trans 'Attention!' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans 'Delete User ?' %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>

                    <button id="deleteUserButton" type="button" class="btn btn-delete">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end delete user modal -->

    {# create user modal#}
    <div class="modal fade" tabindex="-1" role="dialog" id="create-user-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="details-user-modal"
         aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                {% include "dashboard/profile.html" %}
            </div>
        </div>
    </div>

{% endblock modals %}

{% block scripts %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/decorationjs/user.js' %}"></script>
    <script type="text/javascript">
        $('#deletemodal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')
                document.getElementById("deleteUserButton").onclick = function () {
                    deleteUser(`/account/users/${id}/delete/`, '#users-table', "{{ csrf_token }}")
                    $('#deletemodal').modal("hide")
                }
            }
        )

        const asyncSuccessMessage =
            "<div " +
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' " +
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>" +
            "{% trans "Success: User was created." %}" +
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            "<span aria-hidden='true'>&times;</span>" +
            "</button>" +
            "</div>" +
            "<script>" +
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});" +
            "<\/script>"


        function createUserForm() {
            $(function () {
                $("#create-user").modalForm({
                    modalID: "#create-user-modal",
                    formURL: "{% url 'accounts:profile-create' %}",
                    asyncUpdate: true,
                    asyncSettings: {
                        successMessage: asyncSuccessMessage,
                        closeOnSubmit: true,
                        dataUrl: "{% url "accounts:users-list" %}",
                        dataElementId: '#users-table',
                        dataKey: "users",
                        addModalFormFunction: createUserForm
                    }
                })
            })
        }

        createUserForm()

        $("#group-select").on('change', function (object) {
            filterUserByGroup({
                groupId: $(this).val(),
                url: "{% url 'accounts:users-list' %}",
                dataTableId: "#users-table-div"
            })
        })


    </script>


{% endblock scripts %}
