<!doctype html>

{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}

<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Samy Deco</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '1x/logo.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightslider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/logo_black.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start-->

<main class="login-bg">
    <!-- login Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <form class="form" action="{{ request.url }}" method="post" role="form">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="form-group row">
                                <div class="col">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="login-form">
                            <!-- Login Header -->
                            <div class="login-heading">
                                <span>{% trans "Login" %}</span>
                                <p>{% trans "Enter login details to get access" %}</p>
                            </div>

                            {% if login_form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% for error in login_form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <!-- Single Input Fields -->
                            <div class="input-box">
                                <div class="single-input-fields form-group">
                                    <label>{% trans "Username, Email Address or Phone number" %}</label>
                                    {% if login_form.is_bound %}
                                        {% if login_form.username.errors %}
                                            {% render_field login_form.username class="form-control browser-default" id="username" %}
                                            {% for error in login_form.username.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field login_form.username class="form-control browser-default" id="username" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field login_form.username class="form-control browser-default" id="username" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Password" %}</label>
                                    {% if login_form.is_bound %}
                                        {% if login_form.password.errors %}
                                            {% render_field login_form.password class="form-control browser-default" id="password" %}
                                            {% for error in login_form.password.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field login_form.password class="form-control browser-default" id="password" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field login_form.password class="form-control browser-default" id="password" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields login-check">
                                    <!--                                    <input type="checkbox" id="fruit1" name="keep-log">-->
                                    <!--                                    <label for="fruit1">Keep me logged in</label>-->
                                    <a href="#" class="f-right">{% trans "Forgot Password?" %}</a>
                                </div>
                            </div>
                            <!-- form Footer -->
                            <div class="login-footer">
                                <p>{% trans "Don’t have an account?" %} <a
                                        href="{% url 'accounts:register' %}?next={{ next }}">{% trans "Sign Up" %}</a> {% trans "here" %}
                                </p>
                                <button type="submit" class="submit-btn3">{% trans "LOGIN" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            <div >
                <form class="form" action="{% url 'accounts:register' %}?next={{ next }}" method="post" role="form">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="form-group row">
                                <div class="col">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="register-form text-center">
                            <!-- Register Header -->
                            <div class="register-heading">
                                <span>{% trans "Sign Up" %}</span>
                                <p>{% trans "Create your account to get full access" %}</p>
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}


                            {% render_field form.user_type class="form-control browser-default" id="user_type" type="hidden" %}
                            <!-- Single Input Fields -->
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>{% trans "Username" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.username.errors %}
                                            {% render_field form.username class="form-control browser-default" id="username" %}
                                            {% for error in form.username.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.username class="form-control browser-default" id="username" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.username class="form-control browser-default" id="username" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "First Name" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.first_name.errors %}
                                            {% render_field form.first_name class="form-control browser-default" id="first_name" %}
                                            {% for error in form.first_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.first_name class="form-control browser-default" id="first_name" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.first_name class="form-control browser-default" id="first_name" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Last Name" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.last_name.errors %}
                                            {% render_field form.last_name class="form-control browser-default" id="last_name" %}
                                            {% for error in form.last_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.last_name class="form-control browser-default" id="last_name" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.last_name class="form-control browser-default" id="last_name" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Phone number" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.phones.errors %}
                                            {% render_field form.phones class="form-control browser-default" id="phones" placeholder="Phones" %}
                                            {% for error in form.phones.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.phones class="form-control browser-default" id="phones" placeholder="Phones" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.phones class="form-control browser-default" id="phones" placeholder="Phones" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Email Address" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.email.errors %}
                                            {% render_field form.email class="form-control browser-default" id="email" %}
                                            {% for error in form.email.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.email class="form-control browser-default" id="email" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.email class="form-control browser-default" id="email" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Password" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.password.errors %}
                                            {% render_field form.password class="form-control browser-default" id="password" %}
                                            {% for error in form.password.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.password class="form-control browser-default" id="password" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.password class="form-control browser-default" id="password" %}
                                    {% endif %}
                                </div>
                                <div class="single-input-fields">
                                    <label>{% trans "Confirm Password" %}</label>
                                    {% if form.is_bound %}
                                        {% if form.c_password.errors %}
                                            {% render_field form.c_password class="form-control browser-default" id="c_password" %}
                                            {% for error in form.c_password.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field form.c_password class="form-control browser-default" id="c_password" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field form.c_password class="form-control browser-default" id="c_password" %}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- form Footer -->
                            <div class="register-footer">
                                <p> {% trans "Already have an account? " %}<a
                                        href="{% url 'accounts:login' %}"> {% trans "Login" %}</a>
                                    {% trans "here" %}</p>
                                <button type="submit" class="submit-btn3">{% trans "Sign Up" %}</button>
                            </div>
                        </div>
                    </form>
            </div>
            </div>
        </div>
    </div>
    <!-- login Area End -->
</main>


<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- One Page, Animated-HeadLin, Date Picker , price, light-slider -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<script src="{% static 'js/lightslider.min.js' %}"></script>
<script src="{% static 'js/price_rangs.js' %}"></script>

<!-- Nice-select, sticky,Progress -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static  'js/mail-script.js' %}"></script>
<script src="{% static  'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static  'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>