{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erreur 403 : Interdit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest">
    <link rel="shortcut icon" type="image/x-icon" href="https://auconfort.shop/static/1x/logo.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'errors/css/errors.css' %}">
</head>

<body>
<main>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="error-pages">
        <div class="vertical-center">
            <div class="container">
                <a href=""><img id="auconfort-logo-white" src="{% static 'errors/img/logo/auconfort_logo_white.svg' %}"
                                alt="" height="48px"></a>
                <h1>4<span><i class="fa fa-ban"></i></span>3</h1>
                <h2>Erreur 403 : Interdit </h2>
                <p>Désolé, l'accès à cette ressource sur le serveur est refusé. </p>
                <a class="btn-home" href="//auconfort.shop/">
                    <i class="fas fa-home"></i> PAGE D'ACCUEIL
                </a>
            </div>
        </div>
    </div>
</main>
</body>

</html>