{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">{% trans 'Cart List' %}</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="{% url 'ecommerce:index' %}">{% trans 'Home' %}</a></li>
                                            <li class="breadcrumb-item"><a href="#">{% trans 'Cart List' %}</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--================Cart Area =================-->
        <section class="cart_area section-padding40">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <form id="cart-form" action="{% url 'ecommerce:cart-update' %}" method="POST">
                            {% csrf_token %}
                            <table class="table">
                                {{ cart_lines.management_form }}
                                {% for form in cart_lines.forms %}
                                    {% if forloop.first %}
                                        <thead>
                                        <tr>
                                            <th scope="col">{% trans 'Product' %}</th>
                                            <th scope="col">{% trans 'Quantity' %}</th>
                                            <th scope="col">{% trans 'Price' %}</th>
                                            <th scope="col">{% trans 'Total' %}</th>
                                            <th scope="col">{% trans 'Delete' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                    {% endif %}
                                    <tr class="formset_row formset_row-{{ cart_lines.prefix }}">
                                        {% for field in form.visible_fields %}
                                            <td>
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}

                                                {% with WIDGET_ERROR_CLASS='is-invalid' %}
                                                    {% if field.name in 'quantity price total' %}
                                                        <div class="product_count">
                                                            {% render_field field class="input-number" %}
                                                        </div>
                                                    {% elif field.name == "product" %}
                                                        {% render_field field class="form-control browser-default products" %}
                                                    {% else %}
                                                        {% render_field field class="form-control browser-default" %}
                                                    {% endif %}
                                                {% endwith %}
                                                {% if field.errors %}
                                                    {% for error in field.errors %}
                                                        <div class="invalid-feedback help-block">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tr class="bottom_button">
                                    <td>
                                        <button onclick="submitCartUpdate()"
                                                class="btn">{% trans 'Update Cart' %}</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>{% trans 'Subtotal' %}</h5>
                                    </td>
                                    <td>
                                        <h5>{{ cart.total_sum }} {% trans 'DZD' %}</h5>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="shipping_area">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>{% trans 'Delivery' %}</h5>
                                    </td>
                                    <td>
                                        <h5>{{ cart.total_sum }} {% trans 'DZD' %}</h5>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>{% trans 'Total' %}</h5>
                                    </td>
                                    <td>
                                        <h5>{{ cart.total_sum }} {% trans 'DZD' %}</h5>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="checkout_btn_inner float-right">
                            <a class="btn"
                               href="{% url 'ecommerce:products-list' %}">{% trans 'Continue Shopping' %}</a>
                            <a class="btn checkout_btn"
                               href="{% url 'ecommerce:cart-check-out' %}">{% trans 'Proceed to checkout' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Cart Area =================-->
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <!-- Scroll Up -->
    <div id=" back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.formset_row-{{ cart_lines.prefix }}').formset({
                {#addText: '<i class="fas fa-plus"></i> add another',#}
                deleteText: '<i class="fas fa-trash" style="color: #0b0b0b"></i>',
                prefix: '{{ form.prefix }}',
            })
        })

        function submitCartUpdate() {
            $("#cart-form").submit(function (event) {
                $(".products").prop('disabled', '')
            })
        }
    </script>
{% endblock scripts %}