{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">{% trans 'Categories' %}</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="{% url 'ecommerce:index' %}">{% trans 'Home' %}</a></li>
                                            <li class="breadcrumb-item"><a href="#">{% trans 'Categories' %}</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- listing Area Start -->
        <div class="category-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-50">
                            <h2>{% trans 'Shop with us' %}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--? Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4 ">
                        <div class="row">
                            <div class="col-12">
                                <div class="small-tittle mb-45">
                                    <div class="ion">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                                            <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                                  d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"></path>
                                        </svg>
                                    </div>
                                    <h4>{% trans 'Filter Products' %}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <form action="{% url 'ecommerce:categories-list' %}" method="GET">
                            <div class="category-listing mb-50">

                                <div class="categories-wrapper">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Select State items start -->
                                            <div class="select-categories">
                                                <select name="category">
                                                    {% for category in categories %}
                                                        <option value="{{ category.pk }}">{{ category.name|slice:"0:10" }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--  Select State items End-->
                                        </div>
                                        <div class="col-12">
                                            <!-- Select km items start -->
                                            <div class="select-categories">
                                                <select name="sub_category">
                                                    {% for sub_cat in sub_categories %}
                                                        <option value="{{ sub_cat.pk }}">{{ sub_cat.name|slice:"0:10" }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--  Select km items End-->
                                        </div>
                                        <div class="col-12">
                                            <!-- Select km items start -->
                                            <div class="select-categories">
                                                <select name="color">
                                                    <option value="any">{% trans 'Any' %}</option>
                                                    <option value="0">White</option>
                                                    <option value="1">Green</option>
                                                    <option value="2">Blue</option>
                                                    <option value="3">Sky Blue</option>
                                                    <option value="4">Gray</option>
                                                </select>
                                            </div>
                                            <!--  Select km items End-->
                                        </div>
                                    </div>


                                </div>

                                <!-- Range Slider Start -->
                                <div class="range-slider mt-50">
                                    <div class="small-tittle small-tittle2">
                                        <h4>{% trans 'Price Range' %}</h4>
                                    </div>
                                    <div class="range_item">
                                        <!-- <div id="slider-range"></div> -->
                                        <input type="text" class="js-range-slider" value=""/>
                                        <div class="d-flex align-items-center">
                                            <div class="price_text">
                                                <p>{% trans 'Price :' %}</p>
                                            </div>
                                            <div class="price_value d-flex justify-content-center">
                                                <input name="from" type="text" class="js-input-from" id="amount"
                                                       readonly/>
                                                <span>{% trans 'to' %}</span>
                                                <input name="to" type="text" class="js-input-to" id="amount" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Range Slider End -->

                                <!-- Check box -->
                                <div class="select-checkbox mt-30 mb-30">
                                    <div class="small-tittle">
                                        <h4>{% trans 'Latest Product' %}</h4>
                                    </div>
                                    <label class="container">{% trans 'Any' %}
                                        <input type="radio" checked="checked active" name="period" value="0">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">{% trans 'Today' %}
                                        <input type="radio" name="period" value="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">{% trans 'Last 2 days' %}
                                        <input type="radio" name="period" value="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">{% trans 'Last 5 days' %}
                                        <input type="radio" name="period" value="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">{% trans 'Last 10 days' %}
                                        <input type="radio" name="period" value="4">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">{% trans 'Last 15 days' %}
                                        <input type="radio" name="period" value="5">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- Check box /-->
                                <div class="row justify-content-center">
                                    <div class="room-btn mt-20">
                                        <button type="submit"
                                                class="border-btn">{% trans 'Filter' %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Job Category Listing End -->
                    </div>
                    <!--?  Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8 ">
                        <!-- Count of Job list Start -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count-job mb-35">
                                    <span>{{ products.count }} {% trans 'Product found' %}</span>
                                    <!-- Select job items start -->
                                    <div class="select-cat">
                                        <span>{% trans 'Sort by' %}</span>
                                        <select name="select">
                                            <option value="name">{% trans 'Name' %}</option>
                                            <option value="price_high">{% trans 'Highest Price' %}</option>
                                            <option value="price_low">{% trans 'Lowest Price' %}</option>
                                        </select>
                                    </div>
                                    <!--  Select job items End-->
                                </div>
                            </div>
                        </div>
                        <!-- Count of Job list End -->

                        <!--? New Arrival Start -->
                        <div class="new-arrival new-arrival3">
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-new-arrival mb-50 text-center">
                                            <div class="popular-img">
                                                <img src="{% static 'img/gallery/popular1.png' %}" alt="">
                                            </div>
                                            <div class="popular-caption">
                                                <h3>
                                                    <a href="{% url 'ecommerce:products-product-details' product.pk %}">{{ product.name }}</a>
                                                </h3>
                                                <span>{{ product.price }} {% trans 'DZD' %}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--? New Arrival End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- listing-area Area End -->

    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
{% endblock content %}