{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">{% trans 'Checkout' %}</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="{% url 'ecommerce:index' %}">{% trans 'Home' %}</a></li>
                                            <li class="breadcrumb-item"><a href="#">{% trans 'Checkout' %}</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!--? Checkout Area Start-->
        <section class="checkout_area section-padding40">
            <div class="container">
                {% comment %}<div class="cupon_area">
                    <div class="check_title">
                        <h2> {% trans 'Have a coupon?' %}</h2>
                    </div>
                    <input type="text" placeholder="Enter coupon code"/>
                    <a class="btn" href="#">{% trans 'Apply Coupon' %}</a>
                </div>{% endcomment %}
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>{% trans 'Billing Details' %}</h3>
                            <form id="billing-form" class="row contact_form"
                                  action="{% url 'ecommerce:cart-check-out-confirm' %}" method="post">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {% for error in form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}

                                <div class="col-md-6 form-group p_star">
                                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                    {% render_field form.first_name class="form-control" %}
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                    {% render_field form.last_name class="form-control" %}
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                                    {% render_field form.phone_number class="form-control" %}
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="{{ form.email_address.id_for_label }}">{{ form.email_address.label }}</label>
                                    {% render_field form.email_address class="form-control" %}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                                    {% render_field form.city class="country_select select2" %}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                    {% render_field form.address class="form-control" %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
                                    {% render_field form.note class="form-control" %}
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="order_box">
                                <h2>{% trans 'Your Order' %}</h2>
                                <ul class="list">
                                    <li>
                                        <a href="#">{% trans 'Product' %}<span>{% trans 'Total' %}</span>
                                        </a>
                                    </li>
                                    {% for line in user.profile.cart.get_lines %}
                                        <li>
                                            <a href="#">{{ line.product.name }}
                                                <span class="middle">x {{ line.quantity }}</span>
                                                <span class="last">{{ line.total_sum }} {% trans 'DZD' %}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul class="list list_2">
                                    <li>
                                        <a href="#">{% trans 'Subtotal' %}
                                            <span>{{ user.profile.cart.sub_total }} {% trans 'DZD' %}</span></a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans 'Delivery' %}
                                            {% if user.profile.cart.is_free_delivery %}
                                                <span>{% trans 'Free Delivery' %}</span>
                                            {% else %}
                                                {% if user.profile.cart.delivery_fee != -1 %}
                                                    <span>{{ user.profile.cart.delivery_fee|default:"0" }} DZD</span>
                                                {% else %}
                                                    <span>{% trans 'Will be calculated later.' %}</span>
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans 'Total' %}<span>{{ user.profile.cart.total_sum_client }} {% trans 'DZD' %}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="creat_account checkout-cap">
                                    <input type="checkbox" id="f-option8" name="selector" checked="checked"/>
                                    <label for="f-option8">{% trans 'I’ve read and accept the' %} <a
                                            href="#">{% trans 'terms & conditions*' %}</a>
                                    </label>
                                </div>
                                <button id="confirm-button" class="btn w-100"
                                        onclick="submitForm()">{% trans 'Confirm' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Checkout Area -->

    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        function submitForm() {
            $("#billing-form").submit()
        }

        $(document).ready(function () {
            $('.select2').select2()
            const element = $('.select2-selection').eq(1)
            element.addClass("d-none")
        })
    </script>
{% endblock scripts %}