{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block scripts %}

{% endblock %}

{% block content %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly1 slider-height d-flex align-items-center slider-bg1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                {% if content.card1_visibility %}
                                    <div class="hero__caption">
                                        <span>{{ content.card1_header }}</span>
                                        <h1 data-animation="fadeInUp" data-delay=".4s">{{ content.card1_title }}</h1>
                                        <p data-animation="fadeInUp" data-delay=".6s">{{ content.card1_content }}</p>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                                            <a href="industries.html"
                                               class="btn hero-btn">{{ content.card1_button_text }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? Properties Start -->
        <section class="properties new-arrival fix">
            <div class="container">
                <!-- Section tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".2s">
                            <h2>{{ content.section1_title }}</h2>
                            <P>{{ content.section1_text }}</P>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="properties__button text-center">
                            <!--Nav Button  -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for cat in popular_cats %}
                                        <a class="nav-item nav-link {% if forloop.counter == 1 %} active {% endif %}"
                                           id="nav-Sofa-tab" data-toggle="tab" href="#nav-{{ cat.0.id }}" role="tab"
                                           aria-controls="nav-Sofa" aria-selected="true">{{ cat.0.name }}</a>

                                    {% endfor %}
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        {% for cat in popular_cats %}
                            <!-- card one -->
                            <div class="tab-pane fade {% if forloop.counter == 1 %}  show active {% endif %}"
                                 id="nav-{{ cat.0.id }}" role="tabpanel"
                                 aria-labelledby="nav-Sofa-tab">
                                <div class="row">
                                    {% for product in cat.1 %}
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-new-arrival mb-50 text-center">
                                                <div class="popular-img">
                                                    <img src="{{ product.main_image.url }}" alt="">
                                                </div>
                                                <div class="popular-caption">
                                                    <h3>
                                                        <a href="{% url 'ecommerce:products-product-details' product.id %}">
                                                            {{ product.name }}
                                                        </a></h3>
                                                    <span>{{ product.price }} {% trans 'DZD' %}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End Nav Card -->
                </div>
            </div>
        </section>
        <!-- Properties End -->
        <!--? Visit Our Tailor Start -->
        <div class="visit-tailor-area fix">
            <!--Right Contents  -->
            {% if content.section2_image %}
            <div class="tailor-offers" style="background-image: url({{ content.section2_image.url }});"></div>
            {% endif %}
            <!-- left Contents -->
            <div class="tailor-details">
                <h2>{{ content.section2_title }}</h2>
                <p>{{ content.section2_text }}</p>
                <a href="#" class="btn">{{ content.section2_button_text }}</a>
            </div>

        </div>
        <!-- Visit Our Tailor End -->
        <!--? New Arrival-2 Start -->
        <div class="new-arrival new-arrival2">
            <div class="container">
                <!-- Section tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".2s">
                            <h2>{{ content.section3_title }}</h2>
                            <P>{{ content.text }}</P>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in random_products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s"
                                 data-wow-delay=".1s">
                                <div class="popular-img">
                                    <img src="{{ product.main_image.url }}" alt="">
                                </div>
                                <div class="popular-caption">
                                    <h3>
                                        <a href="{% url 'ecommerce:products-product-details' product.id %}">{{ product.name }}</a>
                                    </h3>
                                    <span>{{ product.price }} {% trans 'DZD' %}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Button -->
                <div class="row justify-content-center">
                    <div class="room-btn">
                        <a href="{% url 'ecommerce:products-list' %}"
                           class="border-btn">{{ content.section3_button_text }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--? New Arrival End -->
        <!--? instagram-social start -->
        <div class="instagram-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="instra-tittle mb-40">
                            <div class="section-tittle">
                                <img src="{% static 'img/gallery/insta.png' %}" alt="">
                                <h2>{{ content.section4_title }}</h2>
                                <P class="mb-35">{{ content.section4_text }}</P>
                                <a href="products.html" class="border-btn">{{ content.section4_button_text }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="row no-gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="single-instagram">
                                    <img src="{{ content.section4_image1.url }}" alt="" class="w-100">
                                    <a href="#"><i class="ti-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="single-instagram">
                                    <img src="{{ content.section4_image2.url }}" alt="" class="w-100">
                                    <a href="#"><i class="ti-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- instagram-social End -->
        <!--? New Arrival-3 Start -->
        <div class="new-arrival new-arrival2">
            <div class="container">
                <!-- Section tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".2s">
                            <h2>{{ content.section5_title }}</h2>
                            <P>{{ content.section5_text }}</P>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in top_pick %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s"
                                 data-wow-delay=".1s">
                                <div class="popular-img">
                                    <img src="{{ product.main_image.url }}" alt="">
                                </div>
                                <div class="popular-caption">
                                    <h3>
                                        <a href="{% url 'ecommerce:products-product-details' product.id %}">{{ product.name }}</a>
                                    </h3>
                                    <span>{{ product.price }} {% trans 'DZD' %}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Button -->
                <div class="row justify-content-center">
                    <div class="room-btn">
                        <a href="products.html" class="border-btn">{{ content.section5_button_text }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--? New Arrival End -->
        <!-- Popular Locations End -->
        <!--? Services Area Start -->
        <div class="categories-area section-padding40 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="{% static 'img/icon/services1.svg' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>{% trans "Fast Delivery" %}</h5>
                                <p>{% trans "Delivery on all orders" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="{% static 'img/icon/services2.svg' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>{% trans "Secure Payment" %}</h5>
                                <p>{% trans "Either hand to hand or e-payment, it's always secure" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="cat-icon">
                                <img src="{% static 'img/icon/services3.svg' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>{% trans "Money Back Guarantee" %}</h5>
                                <p>{% trans "Either satisfied or paid back" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="cat-icon">
                                <img src="{% static 'img/icon/services4.svg' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>{% trans "Full Time Support" %}</h5>
                                <p>{% trans "We are always available on phone" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Services Area End -->
    </main>
    <footer>
        <div class="footer-wrapper">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container-fluid ">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.436756646413!2d3.172665315571694!3d36.7360862790052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDQ0JzA5LjkiTiAzwrAxMCcyOS41IkU!5e0!3m2!1sen!2sdz!4v1602327774876!5m2!1sen!2sdz"
                                                     height="450" frameborder="0"
                                                    style="border:0; width: 100%" allowfullscreen="" aria-hidden="false"
                                                    tabindex="0"></iframe>
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>{% trans "Quick links" %}</h4>
                                        <ul>
                                            <li><a href="#">Image Licensin</a></li>
                                            <li><a href="#">Style Guide</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>{% trans "Shop Category" %}</h4>
                                        <ul>
                                            <li><a href="#">Image Licensin</a></li>
                                            <li><a href="#">Style Guide</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>{% trans "Pertners" %}</h4>
                                        <ul>
                                            <li><a href="#">Image Licensin</a></li>
                                            <li><a href="#">Style Guide</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="{% trans "Go to Top" %}" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

{% endblock content %}