{% load i18n %}
{% load static %}
{% load decoration_tags %}

<div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; {% trans 'first' %}</a>
                    <a href="?page={{ page_obj.previous_page_number }}"
                       style="color: darkblue">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" style="color: darkblue">{% trans 'next' %}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       style="color: darkblue">{% trans 'last' %} &raquo;</a>
                {% endif %}
            </span>
    <span style="margin-left: 70%;">{{ page_obj.end_index|subtract:page_obj.start_index|add:1 }} {% trans 'Orders' %}</span>
</div>