{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">{% trans 'Product details' %}</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="{% url 'ecommerce:index' %}">{% trans 'Home' %}</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#">{% trans 'Product details' %}</a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? Single Product Area Start-->
        <div class="product_image_area section-padding40">
            <div class="container">
                <div class="row s_product_inner">
                    <div class="col-lg-5">
                        <div class="product_slider_img">
                            <div id="vertical">
                                <div data-thumb="{% static 'img/gallery/product-details1.png' %}">
                                    <img src="{% static 'img/gallery/product-details1.png' %}" class="w-100">
                                </div>
                                <div data-thumb="{% static 'img/gallery/product-details2.png' %}">
                                    <img src="{% static 'img/gallery/product-details2.png' %}" class="w-100">
                                </div>
                                <div data-thumb="{% static 'img/gallery/product-details3.png' %}">
                                    <img src="{% static 'img/gallery/product-details3.png' %}" class="w-100">
                                </div>
                                <div data-thumb="{% static 'img/gallery/product-details4.png' %}">
                                    <img src="{% static 'img/gallery/product-details4.png' %}" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="s_product_text">
                            <h3>{{ product.name }}</h3>
                            <h2>{{ product.price }} {% trans 'DZD' %}</h2>
                            <ul class="list">
                                <li>
                                    {# TODO add category link #}
                                    <a class="active" href="#">
                                        <span>{% trans 'Category' %}</span> : {{ product.category.name }}</a>
                                </li>
                                <li>
                                    <a href="#"> <span>{% trans 'Availibility' %}</span> : {% if product.stock > 0 %}
                                        {% trans 'In Stock' %} {% else %} {% trans 'Out of Stock' %} {% endif %}</a>
                                </li>
                            </ul>
                            <p>
                                {{ product.description }}
                            </p>
                            <div class="card_area">
                                <div class="product_count d-inline-block">
                                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input id="quantity" class="input-number" type="text" value="0">
                                    <span class="number-increment"> <i class="ti-plus"></i></span>
                                </div>
                                <div class="add_to_cart">
                                    <button id="add-to-cart" href="#" class="btn">{% trans 'add to cart' %}</button>
                                    <button id="add-to-fav" class="like_us"><i class="ti-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Product Area End-->
        <!--? Product Description Area Start-->
        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                           aria-selected="true">{% trans 'Description' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile"
                           aria-selected="false">{% trans 'Specification' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
                           aria-controls="review"
                           aria-selected="false">{% trans 'Reviews' %}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {# TODO implement this #}
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <h5>Width</h5>
                                    </td>
                                    <td>
                                        <h5>128mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Height</h5>
                                    </td>
                                    <td>
                                        <h5>508mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Depth</h5>
                                    </td>
                                    <td>
                                        <h5>85mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Weight</h5>
                                    </td>
                                    <td>
                                        <h5>52gm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Quality checking</h5>
                                    </td>
                                    <td>
                                        <h5>yes</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Freshness Duration</h5>
                                    </td>
                                    <td>
                                        <h5>03days</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>When packeting</h5>
                                    </td>
                                    <td>
                                        <h5>Without touch of hand</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Each Box contains</h5>
                                    </td>
                                    <td>
                                        <h5>60pcs</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row total_rate">
                                    <div class="col-6">
                                        <div class="box_total">
                                            <h5>{% trans 'Overall' %}</h5>
                                            <h4>{{ product.overall }}</h4>
                                            <h6>({{ product.total_reviews_count }} {% trans 'Reviews' %})</h6>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating_list">
                                            <h3>{% trans 'Based on' %} 3 {% trans 'Reviews' %}</h3>
                                            <ul class="list">
                                                <li>
                                                    <a href="#">5 {% trans 'Star' %}
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        {{ product.reviews_count_based_on_stars.4 }}</a>
                                                </li>
                                                <li>
                                                    <a href="#">4 {% trans 'Star' %}
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star "></i> {{ product.reviews_count_based_on_stars.3 }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">3 {% trans 'Star' %}
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i> {{ product.reviews_count_based_on_stars.2 }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">2 {% trans 'Star' %}
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i> {{ product.reviews_count_based_on_stars.1 }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">1 {% trans 'Star' %}
                                                        <i class="fa fa-star checked-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i> {{ product.reviews_count_based_on_stars.0 }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="review_list">
                                    {% for rating in product.ratings.all %}
                                        <div class="review_item">
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="{% static 'img/gallery/review-1.png' %}" alt=""/>
                                                </div>
                                                <div class="media-body">
                                                    <h4>{{ rating.profile.full_name }}</h4>
                                                    {% for i in rating.checked_stars_range %}
                                                        <i class="fa fa-star checked-star"></i>
                                                    {% endfor %}
                                                    {% for i in rating.un_checked_stars_range %}
                                                        <i class="fa fa-star un-checked-star"></i>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <p>
                                                {{ rating.comment }}
                                            </p>
                                        </div>
                                    {% endfor %}

                                    <div class="review_item">
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{% static 'img/gallery/review-1.png' %}" alt=""/>
                                            </div>
                                            <div class="media-body">
                                                <h4>Blake Ruiz</h4>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo
                                        </p>
                                    </div>
                                    <div class="review_item">
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{% static 'img/gallery/review-2.png' %}" alt=""/>
                                            </div>
                                            <div class="media-body">
                                                <h4>Blake Ruiz</h4>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="review_box">
                                    <h4>{% trans 'Add a Review' %}</h4>
                                    {% if user.is_authenticated %}<p>{% trans 'Your Rating' %}</p>
                                        <ul class="list">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                        <p>{% trans 'Outstanding' %}</p>
                                        <form class="row contact_form" action="{% url 'ecommerce:review-add' %}"
                                              method="post"
                                              novalidate="novalidate">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                <textarea class="form-control" name="message" rows="8"
                                                          placeholder="{% trans 'Review' %}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <button type="submit" value="submit" class="btn">
                                                    {% trans 'Submit Now' %}
                                                </button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <button type="submit" value="submit" class="btn">
                                            {% trans 'Login' %}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Description Area End-->
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/decorationjs/favorite.js' %}"></script>

    <script type="text/javascript">
        document.getElementById('add-to-fav').onclick = function () {
            addToFavorite({{ product.id }}, {{ request.user.profile.id }}, '{% url 'ecommerce:favorite-add' %}', '{{ csrf_token }}')
        }
        document.getElementById('add-to-cart').onclick = function () {
            addToCart({{ product.id }}, document.getElementById("quantity").value, {{ request.user.profile.cart.id }}, '{% url 'ecommerce:cart-add' %}',
                '{{ csrf_token }}')
        }
    </script>
{% endblock scripts %}